<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.corterm.worker</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{INSTALL_DIR}}/corterm</string>
    </array>
    <key>WorkingDirectory</key>
    <string>{{HOME}}</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>{{INSTALL_DIR}}/corterm.log</string>
    <key>StandardErrorPath</key>
    <string>{{INSTALL_DIR}}/corterm.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>DOTNET_SYSTEM_NET_DISABLEIPV6</key>
        <string>1</string>
    </dict>
</dict>
</plist>
